<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
h1,h3 {text-align: center;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.container {
margin-top: 15rem;
align-items: center;
}
</style>
<body>

<div class="container">
    <h1>Your transaction has failed if money was deducted it'll be refunded in 5-7 business days </h1>
</div>
</body>
</html>
